legend {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

legend span {
    display: inline-flex;
    flex: 1;
    border-bottom: 1px solid;
    transform: translateY(-50%)
}

.table {
    display: flex;
    width: fit-content;
    margin: auto;
    --border-style: solid;
    --border-width: 1px
}

.col {
    border: var(--border-width, 1px) var(--border-style, solid);
    border-right-width: 0;
}

.col:last-child {
    border-right-width: var(--border-width, 1px);
}

.th, .td {
    display: block;
    padding: 8px;
    margin: 0;
    border-bottom: var(--border-width, 1px) var(--border-style, solid)
}

.th:last-child, .td:last-child {
    border-bottom: none;
}

.th {
    font-weight: bold;
}

.td:hover, .td:has(input:checked) {
    background: rgba(128, 128, 128, 0.3)
}
